%h2
  Welcome

- unless signed_in?
  = link_to '/login', class: 'btn btn-primary' do
    Login

- if signed_in?  
  #map

  :javascript
    var map = new Map('map')
    map.fromWKT('#{@locations.latest.wkt}');

  .panel.panel-warning
    .panel-body
      = @timeline
      = @locations.all

      = current_user.name
      = current_user.attributes.inspect